
* /* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kaisei Decol", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica, Arial", "sans-serif";
    background-color: #111;
    color: white;
}

header {
    background-color: #111;
    color: white;
    padding: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 50px;
}

.contact-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #222;
}

.contact-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.contact-image {
    flex: 1;
    margin-right: 20px;
}

.contact-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-info {
    flex: 1;
    text-align: left;
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: url("images/Galleries/20230831_194144.jpg") no-repeat center center; /* Update the URL here */
    background-size: cover;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.form-container input,
.form-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.form-container button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #555;
}
